<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>THE DALEK FOUNDATION</title>

    <style>
        body {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: lightgreen;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
    </style>

</head>

<body>
    <h1 style="font-size: 5rem;">404</h1>
    <h1>YOU SHALL BE EXTERMINATED!!</h1>
</body>

</html>