<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>THE DALEK FOUNDATION</title>

    <style>
        body {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: lightgreen;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h1 {
            text-align: center;
        }

        p {
            font-size: 20px;
        }
    </style>

</head>

<body>
    <% if(data) { %>
        <h1>PROFILE</h1>
        <p>
            EMAIL: <%= data.email %>
        </p>
        <p>
            PASSWORD: <%= data.pwd %>
        </p>
        <% } else { %>
            <h1>PROFILE NOT FOUND!!</h1>
            <% } %>
</body>

</html>