<div id="navbar">
    <div id="nav-title">
        <a href="/" style="padding-left: 25px;">THE DALEK FOUNDATION</a>
    </div>
    <div id="nav-links" class="closed">
        <a href="login" target="_blank">LOG IN</a>
        <a href="signup" target="_blank">SIGN UP</a>
        <a style="color: white;" id="menu-icon" href="javascript:void(0)">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>