body {
  background-color: lightskyblue !important;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 3px solid black;
}

#test-case-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem auto;
  width: fit-content;
}

button {
  width: 100%;
}